<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.kware.board.comment.mapper.CommentMapper">

	<resultMap type="kr.co.kware.board.comment.vo.Comment" id="commentResultMap">
		<result column="COMMENT_NO" property="commentNo" />
		<result column="BOARD_NO" property="articleNo" />
		<result column="EMAIL" property="email" />
		<result column="CONTENT" property="content" />
		<result column="DATE_OF_WRITING" property="writingDate" />
		<result column="DATE_OF_MODIFY" property="modifyDate" />
		<result column="WRITING_IP" property="writingIP" />
		<result column="MODIFY_IP" property="modifyIP" />
		<result column="FLAG" property="deletionStatus"  typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>

		<association property="writer" javaType="kr.co.kware.member.vo.Member" column="EMAIL"
			select="kr.co.kware.member.mapper.MemberMapper.selectMember" />

	</resultMap>

	<insert id="insertComment" parameterType="kr.co.kware.board.comment.vo.Comment">
		INSERT INTO COMMENT
		VALUES(#{commentNo},#{articleNo},#{email},#{content},#{writingDate},#{modifyDate},#{writingIP},
		#{modifyIP},#{deletionStatus})
	</insert>

	<select id="selectCommentListByArticleNo" resultType="kr.co.kware.board.comment.vo.Comment"
		resultMap="commentResultMap" parameterType="int">
		SELECT * FROM COMMENT WHERE
		BOARD_NO = #{articleNo} AND FLAG = 'PRESENT' ORDER BY COMMENT_NO DESC
	</select>

	<select id="selectCommentCountByArticleNo" resultMap="commentResultMap">
		SELECT
		COUNT(*) FROM COMMENT WHERE BOARD_NO=#{articleNo}
	</select>

	<select id="selectCommentByCommentNo" resultMap="commentResultMap"
		resultType="kr.co.kware.board.comment.vo.Comment">
		SELECT * FROM COMMENT WHERE COMMENT_NO = #{commentNo}
	</select>

	<select id="selectCommentLastNo" resultType="int">
		SELECT
		MAX(COMMENT_NO) +1 FROM COMMENT
	</select>

	<update id="updateComment" parameterType="kr.co.kware.board.comment.vo.Comment">
		UPDATE COMMENT SET
		CONTENT = #{content}, DATE_OF_MODIFY=#{modifyDate},
		MODIFY_IP=#{modifyIP} WHERE COMMENT_NO=#{commentNo}
	</update>

	<update id="deleteComment" parameterType="kr.co.kware.board.comment.vo.Comment">
		UPDATE COMMENT SET FLAG
		= #{deletionStatus}, DATE_OF_MODIFY=#{modifyDate}, MODIFY_IP=#{modifyIP} WHERE
		COMMENT_NO=#{commentNo}
	</update>


</mapper>