<!DOCTYPE html>
<html>
<head>
<script src="js/angular.min.js"></script>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body ng-app="remaining">
	
	<div class="container" ng-controller="remainingCtrl">
		<span ng-class="{'text-warning':shouldWarn()}">Remaining : {{remaining()}}</span>	
		
		<div class="row">
			<textarea ng-model="message">{{message}}</textarea>
		</div>
		
		<div class="row">
			<button ng-click="send()" ng-disable="!hasValildLength()">Send</button>
			<button ng-click="clear()">Clear</button>
		</div>
	</div>
	
	
<script>
	angular.module("remaining",[]).controller("remainingCtrl", ["$scope", function($scope) {
		var MAX_LEN = 80;
		var WARN_THRESHOLD =1;
		
		$scope.remaining = function() {
			return MAX_LEN - $scope.message.length;
		}
		$scope.shouldWarn = function() {
			return $scope.remaining() < WARN_THRESHOLD;
		}
		$scope.clear = function() {
			$scope.message ="";
		} 
		
		
	}])
	
</script>
	
</body>
</html>