<!DOCTYPE html>
<html lang = "en" ng-app="ToDo">
<head>
<meta charset="UTF-8">
<title>todo</title>
<style>
.done{text-decoration: line-through;color: #ccc;}
	

</style>

</head>
<body>
<div ng-controller="todoController">
	<form name="frm" ng-submit="addTodo()">
	
		<input type="text" name="newTodo" ng-model="newTodo" required>
		<button ng-disabled="frm.$invalid">Go</button>
	</form>
	
	<button ng-click="clearCompleted()">Clear Comleted</button>
	
	<ul>
		<li ng-repeat="todo in todos">
		
		<input type="checkbox" ng-model="todo.done">	
		
		<span ng-class="{'done':todo.done}">{{todo.title}}</span>
			
		</li>
	</ul>
</div>
	


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script>

var app = angular.module('ToDo',['storageService']);

app.controller('todoController', ['$scope','getLocalStorage', function($scope, getLocalStorage) {

	$scope.todos = getLocalStorage.getTodos();
// 	$scope.todos = [
// 	                	{'title':'Build a todo app', 'done':false}
// 	                ];
	
	$scope.addTodo = function() {
		$scope.todos.push({'title':$scope.newTodo,'done':false });
		getLocalStorage.updateTodos($scope.todos);
		$scope.newTodo=''
	}
	
	$scope.clearCompleted = function() {
		$scope.todos = $scope.todos.filter(function(item) {
			return !item.done
			
		})
		getLocalStorage.updateTodos($scope.todos);
	}
	
}]);


/* In order to create a service, we have to register it using the Modules API.
We will use the Modules Factory API to register the service.
We first create the module.*/

var storageService = angular.module('storageService',[]);

/* 
   We create a module by passing it two parameters, 
   the name of the module, and an array of dependencies to inject. 
   In this case we don’t have any dependencies to include. 
   Once our module is created we create our services using the factory function.
*/

storageService.factory('getLocalStorage', function() {
	var todoList = {};
	
	return {
		list : todoList,
		
		updateTodos : function(todosArr) {
			if(window.localStorage && todosArr){
				localStorage.setItem("todos", angular.toJson(todosArr));
			}
			//update the cached version
			todoList = todosArr;
		},
		
		getTodos : function() {
			todoList = angular.fromJson(localStorage.getItem("todos"));
			return todoList? todoList : [];

			}
		}
	});

	/*
	 * 
	 The factory function takes two parameters, 
	 the name of the instance or service and an anonymous function that returns the instance of the service. 
	 This instance will return the properties and methods of our service API.
	
	 */
</script>
 
</body>
</html>